/*  Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elements alpahbetized */

body {
    background-image: url("images/linkBack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Cinzel";
    text-align: center;
}

button {
    background-color: hsla(29, 91%, 50%, 0.9);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

form {
    padding: 20px;
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    
}

main {
    
}

ul {
    list-style-type: none;
}

/* Classes alpahbetized */

.banner {
    color: hsla(0, 91%, 50%, 0.9);
    text-shadow: 1px 1px 2px black;
    font-size: 50px;
    padding: 20px;
    padding-bottom: 0px;
}

.choice {
    font-size: 20px;
}

.container {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

.plusHeart {
    height: 240px;
    width: 300px;
}

.styled {
    background: hsla(51, 65%, 65%, 0.623);
    box-shadow: 4px 4px hsla(50, 34%, 87%, 0.65);
    border-radius: 15px;
}

.subContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subTitle {
    color: hsla(234, 91%, 50%, 0.9);
    text-shadow: 1px 1px 2px black;
    font-size: 40px;
    padding: 20px;
    padding-bottom: 0px;
}

.title {
    font-size: 40px;
    text-shadow: 1px 1px 2px white;
}

.track {
    padding: 10px;
    font-size: 30px;
}

.triforce {
    height: 150px;
    width: 200px;
}

.question {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Ids alpahbetized */

@media screen and (min-width: 700px) {
    .tracking {
        display: flex;
        flex-direction: row;
    }
}